Repository rubberduck-vba/Rubberduck: changes, and which Codecov flags are due for each by the changed paths.
All: core, inspections

A tweak
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection.cs
Due: inspections

Make field readonly
  Rubberduck.Parsing/Symbols/IdentifierReference.cs
Due: core

Tweaks to SafeComWrapper disposal to make it safer in case a subclass introduces a finalizer
  RetailCoder.VBE/Rubberduck.csproj
  Rubberduck.VBEEditor/SafeComWrappers/SafeComWrapper.cs
Due: core

Some release safety in VBComponents
  Rubberduck.VBEEditor/SafeComWrappers/VBA/VBComponents.cs
Due: core

Small tweak to avoid caching null in the ComSafe
  Rubberduck.VBEEditor/ComManagement/ComSafe.cs
  Rubberduck.VBEEditor/SafeComWrappers/SafeComWrapper.cs
Due: core

Fixed rewrapping parameter for all implementation of SafeComWrapper until VBComponent and stuffed some COM leaks on the way.
  Rubberduck.VBEEditor/SafeComWrappers/Office.Core/CommandBar.cs
  Rubberduck.VBEEditor/SafeComWrappers/Office.Core/CommandBarButton.cs
  Rubberduck.VBEEditor/SafeComWrappers/Office.Core/CommandBarControls.cs
  Rubberduck.VBEEditor/SafeComWrappers/Office.Core/CommandBarPopup.cs
  Rubberduck.VBEEditor/SafeComWrappers/Office.Core/CommandBars.cs
  Rubberduck.VBEEditor/SafeComWrappers/VB6/AddIns.cs
  Rubberduck.VBEEditor/SafeComWrappers/VB6/CodePanes.cs
  Rubberduck.VBEEditor/SafeComWrappers/VB6/LinkedWindows.cs
  Rubberduck.VBEEditor/SafeComWrappers/VB6/Properties.cs
  Rubberduck.VBEEditor/SafeComWrappers/VB6/References.cs
  Rubberduck.VBEEditor/SafeComWrappers/VB6/VBComponents.cs
  Rubberduck.VBEEditor/SafeComWrappers/VB6/VBE.cs
  Rubberduck.VBEEditor/SafeComWrappers/VBA/AddIns.cs
  Rubberduck.VBEEditor/SafeComWrappers/VBA/CodePane.cs
  Rubberduck.VBEEditor/SafeComWrappers/VBA/CodePanes.cs
  Rubberduck.VBEEditor/SafeComWrappers/VBA/Controls.cs
  Rubberduck.VBEEditor/SafeComWrappers/VBA/Properties.cs
  Rubberduck.VBEEditor/SafeComWrappers/VBA/References.cs
  Rubberduck.VBEEditor/SafeComWrappers/VBA/VBComponent.cs
  Rubberduck.VBEEditor/SafeComWrappers/VBA/VBComponents.cs
Due: core

Disabled release in the disposal of SafeComWrapper for wrappers rewrapping an RCW.
  Rubberduck.VBEEditor/SafeComWrappers/SafeComWrapper.cs
Due: core

Initial try
  RetailCoder.VBE/UI/UnitTesting/TestExplorerControl.xaml
  RetailCoder.VBE/UI/UnitTesting/TestExplorerControl.xaml.cs
  RetailCoder.VBE/UI/UnitTesting/TestExplorerViewModel.cs
Due: none

Successful scrolling
  RetailCoder.VBE/UI/UnitTesting/TestExplorerControl.xaml
  RetailCoder.VBE/UI/UnitTesting/TestExplorerControl.xaml.cs
Due: none

Remove initial try code
  RetailCoder.VBE/UI/UnitTesting/TestExplorerViewModel.cs
Due: none

Rename local variable
  RetailCoder.VBE/UI/UnitTesting/TestExplorerViewModel.cs
Due: none

Added more failing (now passing) tests
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection.cs
  Rubberduck.Inspections/Concrete/UnreachableCaseInspectionValue.cs
  RubberduckTests/Inspections/UnreachableCaseInspectionTests.cs
Due: inspections

Finished fixing rewrapping parameter
  Rubberduck.VBEEditor/SafeComWrappers/VB6/VBProjects.cs
  Rubberduck.VBEEditor/SafeComWrappers/VB6/Windows.cs
  Rubberduck.VBEEditor/SafeComWrappers/VBA/LinkedWindows.cs
  Rubberduck.VBEEditor/SafeComWrappers/VBA/VBComponents.cs
  Rubberduck.VBEEditor/SafeComWrappers/VBA/VBProjects.cs
  Rubberduck.VBEEditor/SafeComWrappers/VBA/Windows.cs
Due: core

Removed Release and HasBennReleased from ISafeComWrapper and made them private in SafeComWrapper.
  Rubberduck.VBEEditor/SafeComWrappers/Abstract/ISafeComWrapper.cs
  Rubberduck.VBEEditor/SafeComWrappers/SafeComWrapper.cs
Due: core

Removed Logging of successful COM releases in non-debug builds.
  Rubberduck.VBEEditor/SafeComWrappers/SafeComWrapper.cs
Due: core

Made VB6 VBProjects events use the VB6 namespace objects.
  Rubberduck.VBEEditor/SafeComWrappers/VB6/VBProjects.cs
Due: core

Updated shutdown completion message.
  RetailCoder.VBE/Extension.cs
Due: none

Added missing null check.
  RetailCoder.VBE/UI/Command/MenuItems/CommandBars/AppCommandBarBase.cs
  Rubberduck.VBEEditor/SafeComWrappers/Office.Core/CommandBarControl.cs
Due: core

Removed GC calls in DockableWindowHost shutdown code.
  RetailCoder.VBE/UI/DockableWindowHost.cs
Due: none

Swallow DoVerb `OLEIVERB_DISCARDUNDOSTATE` on shutdown.
  RetailCoder.VBE/UI/CustomComWrappers/IOleWrapper.cs
  RetailCoder.VBE/UI/DockableWindowHost.cs
Due: none

Logging tweaks
  RetailCoder.VBE/Common/Hotkeys/Hotkey.cs
  RetailCoder.VBE/UI/DockableWindowHost.cs
Due: none

More logger tweaks
  RetailCoder.VBE/UI/CustomComWrappers/IOleWrapper.cs
  RetailCoder.VBE/UI/DockableWindowHost.cs
Due: none

Some tweaks. Prep for merge
  Rubberduck.Inspections/Concrete/UnreachableCaseInspection.cs
Due: inspections

Add missing return in Hotkey.cs for failed state Add more logging. Add null to the reflection code for getting inspection settings.
  RetailCoder.VBE/Common/Hotkeys/Hotkey.cs
  RetailCoder.VBE/Settings/CodeInspectionSettings.cs
Due: none

Fix the InspectionsHelper.cs to set the Name property to ensure the settings are read correctly.
  RubberduckTests/Inspections/InspectionsHelper.cs
Due: none

Fix the hot key leak by actually setting IntPtr to zero when detaching... Captain Oblivious to the rescue!
  RetailCoder.VBE/Common/Hotkeys/Hotkey.cs
Due: none

Introduced a wrapper for Microsoft.Vbe.Interop.Forms.UserForm.
  Rubberduck.VBEEditor/Rubberduck.VBEditor.csproj
  Rubberduck.VBEEditor/SafeComWrappers/Office.Core/Abstract/IUserForm.cs
  Rubberduck.VBEEditor/SafeComWrappers/VBA/UserForm.cs
Due: core

Wrapped the designer in od a VBComponent as a UserFrom.
  Rubberduck.VBEEditor/SafeComWrappers/VBA/VBComponent.cs
Due: core

Smarten codecov some more
  codecov.yml
Due: none

use flags in project status checks
  codecov.yml
Due: none

Resolved the local copy formatting error
  Rubberduck.Inspections/QuickFixes/AssignedByValParameterMakeLocalCopyQuickFix.cs
  RubberduckTests/Inspections/AssignedByValParameterInspectionTests.cs
  RubberduckTests/QuickFixes/AssignedByValParameterMakeLocalCopyQuickFixTests.cs
Due: inspections

Update code to conform with next branch Update resource file (again) due to conflicts Create first unit test for Extract Method's Preview.
  RetailCoder.VBE/Refactorings/ExtractMethod/ExtractMethodModel.cs
  RetailCoder.VBE/Refactorings/ExtractMethod/ExtractMethodRefactoring.cs
  RetailCoder.VBE/UI/Command/Refactorings/RefactorExtractMethodCommand.cs
  RetailCoder.VBE/UI/RubberduckUI.Designer.cs
  RetailCoder.VBE/UI/RubberduckUI.resx
  RubberduckTests/Commands/IndentCommandTests.cs
  RubberduckTests/Grammar/SelectionExtensionsTests.cs
  RubberduckTests/Mocks/MockIndenterBuilder.cs
  RubberduckTests/Mocks/MockQualifiedSelectionBuilder.cs
  RubberduckTests/Refactoring/ExtractMethodTests.cs
  RubberduckTests/RubberduckTests.csproj
Due: none

Moved ToDo markers to `.settings` file
  RetailCoder.VBE/Properties/Settings.Designer.cs
  RetailCoder.VBE/Properties/Settings.settings
  RetailCoder.VBE/Rubberduck.csproj
  RetailCoder.VBE/Settings/DefaultToDoMarkers.cs
  RetailCoder.VBE/Settings/HotkeyConfigProvider.cs
  RetailCoder.VBE/Settings/ToDoListConfigProvider.cs
  RetailCoder.VBE/Settings/ToDoListSettings.cs
  RetailCoder.VBE/Settings/ToDoMarkers.cs
  RetailCoder.VBE/UI/RubberduckUI.Designer.cs
  RetailCoder.VBE/app.config
  Retailcoder.VBE/UI/RubberduckUI.resx
Due: none

Introduced generic type for default settings.
  RetailCoder.VBE/Rubberduck.csproj
  RetailCoder.VBE/Settings/DefaultHotkeySettings.cs
  RetailCoder.VBE/Settings/DefaultSettings.cs
  RetailCoder.VBE/Settings/DefaultToDoMarkers.cs
  RetailCoder.VBE/Settings/HotkeyConfigProvider.cs
  RetailCoder.VBE/Settings/ToDoListConfigProvider.cs
Due: none

actually dispose the designer
  Rubberduck.VBEEditor/SafeComWrappers/VBA/VBComponent.cs
Due: core

Add 2nd test Further refactoring of test setup
  RubberduckTests/Mocks/MockIndenterBuilder.cs
  RubberduckTests/Refactoring/ExtractMethodTests.cs
Due: none

Added disposal of temporary ICodeModule instances. (In the main project, this is not complete.)
  RetailCoder.VBE/Refactorings/ExtractInterface/ExtractInterfaceRefactoring.cs
  RetailCoder.VBE/Refactorings/ImplementInterface/ImplementInterfaceRefactoring.cs
  RetailCoder.VBE/Refactorings/Rename/RenameRefactoring.cs
  RetailCoder.VBE/UI/CodeExplorer/Commands/AddComponentCommand.cs
  RetailCoder.VBE/UI/Command/AddTestModuleCommand.cs
  RetailCoder.VBE/UI/Command/NavigateCommand.cs
  RetailCoder.VBE/UI/IdentifierReferences/ImplementationsListDockablePresenter.cs
  RetailCoder.VBE/UI/ToDoItems/ToDoExplorerViewModel.cs
  RetailCoder.VBE/UnitTesting/UnitTestUtils.cs
  Rubberduck.Inspections/Concrete/ObsoleteCallStatementInspection.cs
  Rubberduck.Inspections/QuickFixes/IgnoreOnceQuickFix.cs
  Rubberduck.Parsing/Emitter.cs
  Rubberduck.Parsing/Symbols/DeclarationSymbolsListener.cs
  Rubberduck.Parsing/VBA/ComponentParseTask.cs
  Rubberduck.Parsing/VBA/ParseErrorEventArgs.cs
  Rubberduck.SmartIndenter/Indenter.cs
  Rubberduck.VBEEditor/QualifiedModuleName.cs
  Rubberduck.VBEEditor/SafeComWrappers/VB6/VBComponent.cs
  Rubberduck.VBEEditor/SafeComWrappers/VB6/VBComponents.cs
  Rubberduck.VBEEditor/SafeComWrappers/VBA/CodeModule.cs
  Rubberduck.VBEEditor/SafeComWrappers/VBA/CodePane.cs
  Rubberduck.VBEEditor/SafeComWrappers/VBA/VBComponent.cs
  Rubberduck.VBEEditor/SafeComWrappers/VBA/VBE.cs
Due: core, inspections

Added precondition Debug Asserts
  Rubberduck.Inspections/QuickFixes/AssignedByValParameterMakeLocalCopyQuickFix.cs
Due: inspections

More CodeModule disposal
  RetailCoder.VBE/Navigation/RegexSearchReplace/RegexSearchReplace.cs
  RetailCoder.VBE/Refactorings/RemoveParameters/RemoveParametersRefactoring.cs
  RetailCoder.VBE/Refactorings/Rename/RenamePresenterFactory.cs
  RetailCoder.VBE/Refactorings/ReorderParameters/ReorderParametersRefactoring.cs
  RetailCoder.VBE/UI/CodeExplorer/Commands/AddComponentCommand.cs
  RetailCoder.VBE/UI/Command/Refactorings/RefactorReorderParametersCommand.cs
  RetailCoder.VBE/UI/IdentifierReferences/IdentifierReferencesListDockablePresenter.cs
  Rubberduck.SmartIndenter/Indenter.cs
  Rubberduck.SourceControl/SourceControlProviderBase.cs
  Rubberduck.VBEEditor/SafeComWrappers/SafeComWrapper.cs
  Rubberduck.VBEEditor/SafeComWrappers/VB6/CodePane.cs
  Rubberduck.VBEEditor/SafeComWrappers/VBA/CodePane.cs
Due: core

Path conditions:
  core: any of: Rubberduck.Parsing, Rubberduck.VBEEditor
  inspections: any of: Rubberduck.Inspections
